/*easings*/
@import "https://unpkg.com/open-props/easings.min.css";

/*light mode first, then dark mode if setting*/
:root {
    color-scheme: light;
    --monospace: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    --main-bg: rgba(235, 235, 235, 1);
    --text-fg: rgba(20, 20, 20, 1);
    --project-icon-fg: rgba(20, 20, 20, 0.4);
    --info-fg: rgba(20, 20, 20, 0.6);
    --info-bg: rgba(20, 20, 20, 0.05);
    --project-bg: rgba(255, 255, 255, 1);
    --button-fg: rgba(20, 20, 20, 0.9);
    --button-bg: rgba(255, 255, 255, 1);
    --button-shadow: inset 1px -1px 2px -1px rgba(0, 0, 0, 0.1), -2px 2px 6px -5px rgba(0, 0, 0, 1);
    --button-alt-shadow: inset -1px 1px 2px -1px rgba(255, 255, 255, 0.5), -2px 2px 6px -5px rgba(0, 0, 0, 1);
}

[data-theme="dark"] {
    color-scheme: dark;
    --main-bg: rgba(30, 30, 30, 1);
    --text-fg: rgba(255, 255, 255, 1);
    --project-icon-fg: rgba(235, 235, 235, 0.4);
    --info-fg: rgba(255, 255, 255, 0.6);
    --info-bg: rgba(255, 255, 255, 0.05);
    --project-bg: rgba(50, 50, 50, 1);
    --button-fg: rgba(255, 255, 255, 0.9);
    --button-bg: rgba(50, 50, 50, 1);
    --button-shadow: inset -1px 1px 2px -1px rgba(255, 255, 255, 0.1), -2px 2px 6px -3px rgba(0, 0, 0, 1);
    --button-alt-shadow: inset -1px 1px 2px -1px rgba(255, 255, 255, 0.3), -2px 2px 6px -3px rgba(0, 0, 0, 1);
}

/*sun and moon icon*/
.sun-moon > :is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
}

.sun-moon > :is(.moon, .sun) {
    fill: var(--button-fg);
}

.sun-moon > .sun-beams {
    stroke: var(--button-fg);
    stroke-width: 2px;
}

[data-theme="dark"] .sun-moon > .sun {
    transform: scale(1.65);
    transform: translate(2px);
}

[data-theme="dark"] .sun-moon > .sun-beams {
    opacity: 0;
}

[data-theme="dark"] .sun-moon > .moon > circle {
    transform: translate(-7px);
}

@media (prefers-reduced-motion: no-preference) {
    .sun-moon > .sun {
        transition: transform 0.5s var(--ease-elastic-3);
    }

    .sun-moon > .sun-beams {
        transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
    }

    .sun-moon .moon > circle {
        transition: transform 0.25s var(--ease-out-5);
    }

    [data-theme="dark"] .sun-moon > .sun {
        transform: scale(1.65) translateX(1px);
        transition-timing-function: var(--ease-3);
        transition-duration: 0.25s;
    }

    [data-theme="dark"] .sun-moon > .sun-beams {
        transform: rotate(-25deg);
        transition-duration: 0.15s;
    }

    [data-theme="dark"] .sun-moon > .moon > circle {
        transition-delay: 0.25s;
        transition-duration: 0.5s;
    }
}

@media (hover: none) {
    .theme-toggle {
        --size: 48px;
    }
}

/*global reset*/
* {
    padding: 0;
    margin: 0;
}

/*main*/
html {
    background-color: var(--main-bg);
}

body {
    font-size: 14px;
    font-family: var(--sans-serif);
    color: var(--text-fg);
}

a {
    text-decoration: none;
}

/*button*/
.button {
    all: unset;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: var(--button-fg);
    background-color: var(--button-bg);
    box-shadow: var(--button-shadow);
}

/*button (link)*/
.link {
    all: unset;
    cursor: pointer;
    margin: 0;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    color: var(--button-fg);
    background-color: var(--button-bg);
    box-shadow: var(--button-shadow);
}

.link img {
    height: 20px;
    border-radius: 50%;
}

.link p {
}

/*alt link (green eye buttons)*/
.link-alt {
    all: unset;
    cursor: pointer;
    margin: 0;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(55, 154, 74, 1);
    box-shadow: var(--button-alt-shadow);
}

/*main container*/
.content-container {
    padding: 30px;
    max-width: 1024px;
    margin: 0 auto;
}

/*header*/
header {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;
    padding: 0 0 30px 0;
}

header #left h1 {
    margin: 0 0 10px 0;
}

header #left #information {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

header #left #information div {
    margin: 0 auto 0 0;
    border-radius: 4px;
    padding: 2px 4px;
    background-color: var(--info-bg);
    display: flex;
    gap: 10px;
    align-items: center;
}

header #left #information div p {
    display: block;
}

header #left #information div p span {
    font-family: var(--monospace);
}

header #left #information div svg {
    display: block;
    color: var(--project-icon-fg);
}

header #left #links {
    display: flex;
    gap: 10px;
}

header #right {
    display: flex;
    gap: 10px;
}

header #right a {
    height: 40px;
    padding: 0 15px;
    font-family: var(--monospace);
}

header #right button.button {
    height: 40px;
    width: 40px;
}

header #right button.button > svg {
    stroke-linecap: round;
}

/*projects section*/
section h2 {
    margin: 0 0 10px 0;
}

section #projects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

section #projects .project {
    padding: 15px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;
    flex-grow: 1;
    gap: 15px;
    min-width: calc(25% - 15px);
    max-width: calc(33% - 15px);
    background-color: var(--project-bg);
}

section #projects .project .left img,
section #projects .project .left svg {
    height: 52px;
    margin: 0 0 10px 0;
    color: var(--project-icon-fg);
}

section #projects .project .left h3 {
}

section #projects .project .left h4 {
    font-weight: normal;
    opacity: 0.6;
}

section #projects .project .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

section #projects .project .right p {
    padding: 2px 5px;
    display: block;
    border-radius: 4px;
    color: var(--info-fg);
    background-color: var(--info-bg);
}
